pandas>=0.25.2
nltk
regex
numpy>=1.17.3
matplotlib>=3.1.1
joblib>=0.14.0
scikit-learn>=0.21.3
scipy>=1.3.1
praw>=6.4.0
psaw>=0.0.7
jupyter>=1.0.0
tqdm>=4.36.1
pytest>=5.3.1
pytest-cov>=2.8.1
emoji>=0.5.4
adjustText>=0.7.3
tweepy>=3.8.0
demoji>=0.2.1
umap-learn>=0.4.3
cvxopt>=1.2.5
